*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
}
.container{
    max-width: 900px;
   
}
.apply_box{
    max-width: 600px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
   padding: 20px;
    border-radius: 10px;
}
.title_small{
    font-size: 16px;
}
.form_container{
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 10px;
}